.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}


.link {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: inherit;
}

.searchDropdown {
  position: relative;
  display: inline-block;
}

.topDropdownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.topDropdownContent a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  background-color: teal;
  color: white;
}

.searchResults {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.searchResults a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  background-color: teal;
  color: white;
}

.dropdown:hover .topDropdownContent,
.topDropdownContent a:hover {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 156, 156);
}

.searchDropdown:hover .searchResults,
.searchResults a:hover {
  display: flex;
  width: inherit;
  flex-direction: column;
  background-color: rgb(3, 156, 156);
}

.topCenter {
  flex: 6;
}

.topCenter a {
  text-decoration: none;
  color: inherit;
  /* color: white; */
  /* font-weight: bold; */
}

.topListItem a:hover,
.topListItem a:active,
.topListItem a.active {
  color: teal;
  padding-bottom: 0.25em;
  border-bottom: 1px solid teal;
}

.top .icon {
  display: none;
}

.dropMenu {
  float: left;
  overflow: hidden;
}

.dropMenu .btnDrop {
  font-size: 17px;
  border: none;
  outline: none;
  /* margin-top: 10px; */
  /* color: ; */
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  /* margin: 0; */
}

.content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

.content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none ;
  background-color: teal;
  color: white;
}

.content a:hover {
  background-color: rgb(3, 156, 156);
}

.dropMenu:hover .btnDrop {
  background-color: lightgray;
  color: white;
}

.dropMenu:hover .content {
  display: block;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #656;
  cursor: pointer;
  /* margin-left: 15px; */
}

.searchContainer {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 5px 20px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3),
    -4px -4px 6px rgba(116, 125, 136, 0.2);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  /* box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2); */
}

.searchContainer .searchInput {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.searchContainer:hover > .searchInput {
  width: 300px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
  .top a:not(:first-child), .dropMenu .btnDrop {
    display: none;
  }
  .top a.icon {
    float: left;
    display: block;
    position: absolute;
    left: 1em;
    color: #444;
    text-decoration: none;
  }
  .top a.icon:hover {
    color: teal;
    transform: scale(1.2);
  }
}

@media screen and (max-width: 600px) {
  .top.responsive {position: relative;}
  .top.responsive {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top.responsive a {
    float: none;
    display: block;
    /* text-align: left; */
  }
  .top.responsive .dropMenu {float: none;}
  .top.responsive .content {position: fixed;}
  .top.responsive .dropMenu .btnDrop {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
  }
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

/* .searchContainer:hover {
  animation: hoverShake 0.15s linear 3;
} */
