.header {
  /* margin-top: 60px; */
}

.headerTitleSm {
  font-size: 20px;
}

.headerTitleLg {
  font-size: 100px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: rgb(3, 156, 156);
  background-image: url(https://c4.wallpaperflare.com/wallpaper/744/430/547/sun-light-bulb-hd-wallpaper-preview.jpg);
  background-size: cover;
  background-color: #444;
  background-blend-mode: multiply;
}

@media (max-width: 800px) {
  .headerContainer {
    background-position: center;
  }
}

.box {
  display: flex;
  flex-direction: column;
  border: 5px double rgb(3, 156, 156);
  padding: 25px;
  font-family: "Lora", serif;
}
