.write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: absolute;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  color: rgb(138, 135, 135);
}

.writeInput {
  position: relative;
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
  /* max-width: 50%; */
}

.editor {
  font-size: 20px;
  border: none;
  margin-left: 150px;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  height: 100vh;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 60px;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}